html, body {
  height: 100%;
  width: 100%;
}

html {
	font-family: 'Georgia', sans-serif;
}

body {
	background-image: url('hudson.jpg');
	background-size: cover;
}

h1 {
	text-align: center;
	font-size: 60px;
}

h2 {
	text-align: center;
}

.timer {
	font-size: 120px;
	text-align: center;
	
}

.buttons {
	text-align: center;
}

.footer {
	font-family: 'EB Garamond', serif;
	text-align: center;
}

.button {
  background-color: yellow; /* not Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	font-family: 'Georgia', sans-serif;
}